@using eShopSolution.ViewModel.Common;
@using eShopSolution.AdminApp.Controllers.Components;
@model PagedResult<eShopSolution.ViewModel.Catalog.System.User.UserVm>

@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">User list</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">User List</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <a asp-action="create" asp-controller="user" class="btn btn-success"><i class="fas fa-plus"></i> Create new</a>
                </div>
                <div class="col-md-6 offset-2">
                    <form class="form-group" asp-action="index" method="get">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Search.." value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary " type="submit"><i class="fa fa-search"></i> Search</button>
                                <button class="btn btn-success"><i class="fas fa-sync-alt"></i> Refresh</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <div class="dataTables_wrapper">
                    <table class="table table-bordered" cellspacing="0">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    #
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Date of bird
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach (var item in Model.Items)
                            {
                                var rowNo = (Model.PageIndex - 1) * Model.PageSize + i;
                                i++;
                                <tr>
                                    <td class="text-center">@rowNo</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dob)
                                    </td>
                                    <td class="text-center">
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                                        <a asp-controller="user" asp-action="edit" asp-route-id="@item.Id" class="btn btn-primary"> Edit</a>
                                        <a asp-controller="user" asp-action="detail" asp-route-id="@item.Id" class="btn btn-info"> Detail</a>
                                        <a asp-controller="user" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger"> Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @(await Component.InvokeAsync<PagerViewComponent>(Model))
                </div>
            </div>
        </div>
    </div>
</div>